<!DOCTYPE html>
<html>
<head>
    <title>Applied Confirmation</title>
    <% include /partials/header %>
    <link rel="stylesheet" href="/stylesheets/bootstrap-select.css">
    <script src="/javascripts/bootstrap-select.js"></script>
</head>
<body>
<% include /partials/navbar %>
<div class="container">
    <b> The application is not live UNTIL you confirm the post via the email you just received in your umich email. </b>
    <br>
    <br>
    <b> Please give us feedback at noreply.uclubs@gmail.com to continue improving U-Clubs for you and other students. </b>
    <br>
    <br>
    <li><a href="/postinglist"> < Back to Browse Postings</a></li>
</div>

</body>
</html>