					<!-- <div class="expertise-head">
							<p> </p>
						</div>
						<div class="expertise-left-inner-grids">
							<div class="e-left-inner-grid">
								<div class="e-left-inner-grid-left">
									<span class="e-icon3"> </span>
								</div>
								<div class="e-left-inner-grid-right">
									<h4>Custom Setup</h4>

									<p>Club Screen was designed in response to the growing demand for individualized web customization for organizations
									on campus. This app was built for students, by students. It's a more efficient way to ask for help, volunteer,
									and make the most of our time here at Michigan. </p>
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="e-left-inner-grid">
								<div class="e-left-inner-grid-left">
									<span class="e-icon3"> </span>
								</div>
								<div class="e-left-inner-grid-right">

									<h4>New Postings</h4>
									<p>The "Create Posting" button above navigates to a page that lets you specify what kind of skills your
										organization is looking for in an applicant. Is it officer election time? Do you need a math tutor, or are you
										a Glee Club searching for new talent? We've made it simpler; you can scrap those emailing lists and create a new posting!
									</p>
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="e-left-inner-grid">
								<div class="e-left-inner-grid-left">
									<span class="e-icon3"> </span>
								</div>
								<div class="e-left-inner-grid-right">
									<h4>Student Apps</h4>
									<p>The "View Postings" button above navigates to a page with options for applicant info. Did you miss Festifall, or forget to
									sign up for the perfect mass meeting? We've made it easy for you to get in touch with that club/person/fraternity/research group
									you're searching everywhere for.</p>
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="e-left-inner-grid">
								<div class="e-left-inner-grid-left">
									<span class="e-icon3"> </span>
								</div>
								<div class="e-left-inner-grid-right">
									<h4>Still have questions?</h4>
									<p>There's a little more information about this project lined out for you below!</p>
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
					<!- services-grids -->
					<div class="about-time-line">
					<li>
						<div id="step1" class="cbp_tmicon img1"> </div>
							<div class="cbp_tmlabel wow fadeInLeft" data-wow-delay="0.4s">
								<h2>Clubs create a posting</h2>
								<p><!-- The Central Campus Student Government and Enactus have set this up as an alternative to long hours of mass meetings after
                                traditional org gatherings, and it's enabling a much faster, modern approach to campus involvement. We're using a simple email
                                protocol that keeps track of applicants and puts you directly in touch with whatever you've envisioned. -->
                                Visit the <a href="/newposting" target="_blank">create new posting page</a> and fill out the form describing the club postition. Check your UMich gmail and follow the link to activate your posting. Now your post is live and you will begin receiving emails from applicants!
                            	</p>
						</div>
					</li>
					<li>
						<div id="step2" class="cbp_tmicon1 img2"> </div>
							<div class="cbp_tmlabel cbp_tmlabel1 wow fadeInRight" data-wow-delay="0.4s">
								<h2>Students browse postings</h2>
								<p><!-- We think this is a great way to get involved with organizations, learn more about specific clubs at Michigan
                                    and apply directly to active postings you might be interested in, but one of the best perks is resume building!
                                If you've been wanting to add web development or leadership experiences to your resume for a while, there's never been
                                a better way to find them. -->
                                On the <a href="/postinglist" target="_blank">posting list page</a> you will find club positions to apply to. Sort the positions by different filter categories to find a perfect match. Simply click the apply button to see a detailed description of the posting.
                            	</p>
							</div>
					</li><br />
					<li>
							<div class="cbp_tmicon2 img3"> </div>
							<div class="cbp_tmlabel wow fadeInLeft" data-wow-delay="0.4s">
								<h2>Applicants send their info</h2>
								<p><!-- If you're interested in working with this app in the future, we'll scale it up to eventually include user authentication
                                and more streamlined design over the next few months. Contact fburczak@umich.edu with questions about scaling up! -->
                                If you want to apply to the position, fill out the form with your umich uniquename and add a short paragraph on why you're a good fit. That's it! Your application will be sent.
                            	</p>
							</div>
					</li>
					<li>
							<div class="cbp_tmicon3 img4"> </div>
							<div class="cbp_tmlabel cbp_tmlabel1 wow fadeInRight" data-wow-delay="0.4s">
								<h2>Students and clubs connect via UMich gmail</h2>
								<p><!-- But- we want to hear from you, so we've made a poll for your feedback. Here's the link:Please contact fburczak@umich.edu with complaints. All other requests can go to csg.info@umich.edu! -->
								At this point, uCLUBS has played its part. The club and student can communicate via UMich gmail. Maybe there is a more in depth application or interview process. Figure out the details on your own – we're just here to make the initial match!</p>
							</div>
					</li>
				</div>
				</div>