<!DOCTYPE html>
<html>
<head>
    <title>Posting Expires</title>
    <% include /partials/header %>
    <link rel="stylesheet" href="/stylesheets/bootstrap-select.css">
    <script src="/javascripts/bootstrap-select.js"></script>
</head>
<body>
<% include /partials/navbar %>
<div class="container">
    <b>Thank you for confirming your position. The application will now be live for ____ more days - expiring on Oct. __, 20__.</b>
    <br>
    <br>
    <b>Follow this <li><a href="/newposting"> link </a></li> to post another position.</b>
    <br>
    <br>
    <b>Please give us feedback at noreply.uclubs@gmail.com to continue improving U-Clubs for you and other students. </b>
    <br>
    <br>
    <li><a href="/postinglist"> < Back to Browse Postings</a></li>
</div>

</body>
</html>