<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
	<head>
		<title>Club Screen</title>
		<link href="stylesheets/css/bootstrap.css" rel='stylesheet' type='text/css' />
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="javascripts/js/jquery.min.js"></script>
		 <!-- Custom Theme files -->
		 <!---- animated-css ---->
		<link href="stylesheets/css/animate.css" rel="stylesheet" type="text/css" media="all">
		<script src="javascripts/js/wow.min.js"></script>
		<script>
		 new WOW().init();
		</script>
		<!---- animated-css ---->
		  <!---- start-smoth-scrolling---->
		<script type="text/javascript" src="javascripts/js/move-top.js"></script>
		<script type="text/javascript" src="javascripts/js/easing.js"></script>
		<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
		</script>
		 <!---- start-smoth-scrolling---->
		<link href="stylesheets/css/style.css" rel='stylesheet' type='text/css' />
   		 <!-- Custom Theme files -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
		</script>
		<!----webfonts--->
		<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
		<!---//webfonts--->
		<!----start-top-nav-script---->
		<script>
			$(function() {
				var pull 		= $('#pull');
					menu 		= $('nav ul');
					menuHeight	= menu.height();
				$(pull).on('click', function(e) {
					e.preventDefault();
					menu.slideToggle();
				});
				$(window).resize(function(){
	        		var w = $(window).width();
	        		if(w > 320 && menu.is(':hidden')) {
	        			menu.removeAttr('style');
	        		}
	    		});
			});
		</script>
		<!-- //End-top-nav-script-->
	</head>
	<body>
		<div class="bg">
		<!-- start-header-->
			<div id="home" class="header wow bounceInDown" data-wow-delay="0.4s">
					<div class="top-header">
						<div class="container">
						<div class="logo">
							<!-- <a href="#"><img src="images/logo.png" title="dreams" /></a> -->
						</div>
						<!----start-top-nav---->
						 <nav class="top-nav">
							<ul class="top-nav">
								<li><a href="#services" class="scroll">Resources</a></li>
								<li><a href="#port" class="scroll">Calendar</a></li>
							</ul>
							<a href="#" id="pull"><img src="images/menu-icon.png" title="menu" /></a>
						</nav>
						<div class="clearfix"> </div>
					</div>
				</div>
			</div>
			<!-- //End-header -->
			<!-- banner -->
			<div class="banner wow fadeIn" data-wow-delay="0.5s">
				<div class="container">
					<div class="banner-info text-center">
						<!-- <h1>Welcome to the Club Screen.</h1> --><br><br><br><br><br><br>
						<a class="leran-more" href="/newposting">Create posting</a>&nbsp&nbsp&nbsp<a class="leran-more" href="/postinglist">View Postings</a><br><br>
						<div class="pull-right">
							<img style="width: 250px;" src="images/enactus.png">
							<img style="width: 150px;" src="images/csg.png">
						</div>
					</div>
				</div>
			</div>
		</div>
			<!-- banner -->
			<div id="services" class="services">
				<div class="container">
					<div class="service-head text-center">
						<h2></h2>
						<span> </span>
						<br><br>
					</div>
					<!-- services-grids -->
					<div class="expertise-head">
							<p>Proin iaculis purus consequat sem cure  digni ssim. Donec porttitora entum suscipit  aenean rhoncus posuere odio in tincidunt consequat sem cure  digni ssim. </p>
						</div>
						<div class="expertise-left-inner-grids">
							<div class="e-left-inner-grid">
								<div class="e-left-inner-grid-left">
									<span class="e-icon1"> </span>
								</div>
								<div class="e-left-inner-grid-right">
									<h4>Custom setup</h4>
									<p>Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus.</p>
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="e-left-inner-grid">
								<div class="e-left-inner-grid-left">
									<span class="e-icon2"> </span>
								</div>
								<div class="e-left-inner-grid-right">
									<h4>Cloud control</h4>
									<p>Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus.</p>
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="e-left-inner-grid">
								<div class="e-left-inner-grid-left">
									<span class="e-icon3"> </span>
								</div>
								<div class="e-left-inner-grid-right">
									<h4>All star support team</h4>
									<p>Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus.</p>
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="e-left-inner-grid">
								<div class="e-left-inner-grid-left">
									<span class="e-icon4"> </span>
								</div>
								<div class="e-left-inner-grid-right">
									<h4>top notch security</h4>
									<p>Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus.</p>
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
					<!--- services-grids -->
				</div>
			</div>
			<!--- services -->
			<!-- Other Expertise -->
			<!--- Other Expertise -- -->
			<!---start-about---->
		<div class="about">
			<div class="wrap"> 
				<div class="about-head">
					<h1>How it works</h1>
					<span> </span>
				</div>
				<!---start-about-time-line---->
				<div class="about-time-line">
					<li>
							<div class="cbp_tmicon img1"> </div>
							<div class="cbp_tmlabel wow fadeInLeft" data-wow-delay="0.4s">
								<h2>July 2010 Our Humble Beginnings</h2>
								<p>Proin iaculis purus consequat sem cure  digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit.</p>
							</div>
					</li>
					<li>
							<div class="cbp_tmicon1 img2"> </div>
							<div class="cbp_tmlabel cbp_tmlabel1 wow fadeInRight" data-wow-delay="0.4s">
								<h2>January 2011 Facing Startup Battles </h2>
								<p>Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt.</p>
							</div>
					</li><br />
					<li>
							<div class="cbp_tmicon2 img3"> </div>
							<div class="cbp_tmlabel wow fadeInLeft" data-wow-delay="0.4s">
								<h2>December 2012 Enter The Dark Days </h2>
								<p>Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. Proin iaculis purus consequat sem cure digni.</p>
							</div>
					</li>
					<li>
							<div class="cbp_tmicon3 img4"> </div>
							<div class="cbp_tmlabel cbp_tmlabel1 wow fadeInRight" data-wow-delay="0.4s">
								<h2>January 2013Our Triumph </h2>
								<p>Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean.</p>
							</div>
					</li>
					<li>
							<div class="cbp_tmicon4 img5"> </div>
					</li>
					<div class="clearfix"> </div>
				</div>
				<div class="clearfix"> </div>
				</div>
				<!---//End-about-time-line---->
			<!---- about ---->
		</div>
			<div id="team" class="team-members">
					<div class="wrap"> 
						<div class="tm-head">
							<h3>our amazing team</h3>
							<p>Proin iaculis purus consequat sem cure.</p>
						</div>
						<div class="tm-head-grids">
							<div class="tm-head-grid wow fadeInLeft" data-wow-delay="0.4s">
								<img src="images/team-member1.jpg" alt="">
								<h4>Alex Beam</h4>
								<h5>Did most of the shit</h5>
								<ul class="top-social-icons">
									<li><a class="twitter" href="#"> </a></li>
									<li><a class="facebook" href="#"> </a></li>
									<li><a class="pin" href="#"> </a></li>
									<div class="clear"> </div>
								</ul>
							</div>
							<div class="tm-head-grid wow fadeInUp" data-wow-delay="0.4s">
								<img src="images/team-member2.jpg" alt="">
								<h4>Tonya Malyarenko</h4>
								<h5>Coder</h5>
								<ul class="top-social-icons">
									<li><a class="twitter" href="#"> </a></li>
									<li><a class="facebook" href="#"> </a></li>
									<li><a class="pin" href="#"> </a></li>
									<div class="clear"> </div>
								</ul>
							</div>
							<div class="tm-head-grid wow fadeInRight" data-wow-delay="0.4s">
								<img src="images/team-member3.jpg" alt="">
								<h4>Uku Mason</h4>
								<h5>Graphic Designer</h5>
								<ul class="top-social-icons">
									<li><a class="twitter" href="#"> </a></li>
									<li><a class="facebook" href="#"> </a></li>
									<li><a class="pin" href="#"> </a></li>
									<div class="clear"> </div>
								</ul>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
				</div>
			<!---- team --->
			
				<!--- copy-right ---->
				<div class="copy-right text-center">
					<script type="text/javascript">
									$(document).ready(function() {
										/*
										var defaults = {
								  			containerID: 'toTop', // fading element id
											containerHoverID: 'toTopHover', // fading element hover id
											scrollSpeed: 1200,
											easingType: 'linear' 
								 		};
										*/
										
										$().UItoTop({ easingType: 'easeOutQuart' });
										
									});
								</script>
									<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
				</div>
				<!--- copy-right ---->
			</div>
			</div>
			<!---- contact --->
		</div>
	</body>
</html>

