<!DOCTYPE html>
<html>
<head>
	<title>Post</title>
	<% include /partials/header %>
	<link rel="stylesheet" href="/stylesheets/bootstrap-select.css">
	<script src="/javascripts/bootstrap-select.js"></script>
	<style type="text/css">
	.btn {
		text-transform: none;
		font-weight: normal;
	}
	</style>
</head>
	<body>
	  <% include /partials/navbar %>
		<div class="container">
		  <a href="/postinglist" style="color: #00274c;"><h5>< Back</h5></a>
		  <hr>
		  <div class="row">
		    <div class="col-lg-6"><h1>Create a new posting</h1>
		      <p class="lead">Tell us what your club is looking for.</p>
		    </div>
		  </div>
		  <hr>
			<form class="form-horizontal" id="formAddPosting" name="addposting" method="post" action="/addposting">
			  <fieldset>
			    <div class="form-group">
			      <label for="inputTitle" class="col-lg-2 control-label">Position Title</label>
			      <div class="col-lg-4">
			        <input type="text" class="form-control" placeholder="Title" name="title"/>
			        <span class="help-block">We find that posting strong resume positions increases the number of applicants received.</span>
			      </div>
			    </div>
			    <div class="form-group">
			      <label for="inputOrg" class="col-lg-2 control-label">Organization/Club</label>
			      <div class="col-lg-4">
			          <input type="text" class="form-control" placeholder="Club" name="club"/>
			      </div>
			    </div>
			    <div class="form-group">
			      <label for="inputEmail" class="col-lg-2 control-label">Contact Email</label>
			      <div class="col-lg-3">
			        <div class="input-group">
			          <input type="text" name="email" class="form-control" placeholder="uniqname" />
			          <span class="input-group-addon">@umich.edu</span>
			        </div>
			      </div>
			    </div>
			    <div class="form-group">
			      <label for="select" class="col-lg-2 control-label">Is this a full-time club position or freelance task?</label>
			      <div class="col-lg-4">
			        <select class="form-control" name="involvement">
			          <option>Club Position</option>
			          <option>Freelance Task</option>
			        </select>
			      </div>
			    </div>
			    <div class="form-group">
			      <label for="select" class="col-lg-2 control-label">What type of position is this?</label>
			      <div class="col-lg-4">
			        <select multiple class="form-control" title="General Membership" name="position_type">
			          <option>General Membership</option>
			          <option>Coding/Web Design</option>
			          <option>Graphic Design/Art</option>
			          <option>Event Planning</option>
			          <option>Fundraising/Treasury</option>
			          <option>Marketing/Promotion</option>
			          <option>Musical/Performance</option>
			          <option>Manufacturing/Assembly</option>
			        </select>
			      </div>
			    </div>
			    <div class="form-group">
			      <label for="select" class="col-lg-2 control-label">What type of club are you?</label>
			      <div class="col-lg-4">
			        <select multiple class="form-control" title="Not Applicable" name="club_type">
			          <option>Not Applicable</option>
			          <option>Activism</option>
			          <option>Creative Expression</option>
			          <option>Cultural</option>
			          <option>Nature/Sustainability</option>
			          <option>Student Government</option>
			          <option>Health and Wellness</option>
			          <option>Religious/Spiritual</option>
			          <option>Technology/Science</option>
			          <option>Community Engagement</option>
			          <option>Greek</option>
			          <option>Academic</option>
			          <option>Athletics</option>
			          <option>Career Development</option>
			          <option>Social</option>
			        </select>
			      </div>
			    </div>
			    <div class="form-group">
			      <label for="select" class="col-lg-2 control-label">Days posted on the site?</label>
			      <div class="col-lg-4">
			        <select class="form-control" name="days">
			          <option>7</option>
			          <option>14</option>
			          <option>21</option>
			        </select>
			      </div>
			    </div>
			    <div class="form-group">
			      <label for="textArea" class="col-lg-2 control-label" >A short description of the position</label>
			      <div class="col-lg-8">
			        <textarea class="form-control" rows="4" name="description" id="textArea"></textarea>
			        <span class="help-block">A confirmation email will be sent to your contact email before this post goes live.</span>
			      </div>
			    </div>
			    <div class="form-group">
			      <div class="col-lg-10 col-lg-offset-2">
			        <button onclick="window.location.href='/postinglist'" class="btn btn-default">Cancel</button>
			        <button id="btnSubmit" type="submit" class="btn btn-primary" style="background-color: #00274c; color: #ffcb05;">Submit</button>
			      </div>
			    </div>
			  </fieldset>
			</form>
		</div>
		<script type="text/javascript">
			$(document).ready(function() {
				$("select").on("click", "option", function () {
			    if ( 3 <= $(this).siblings(":selected").length ) {
			        $(this).removeAttr("selected");
			    }
				});
			});
		</script>
		<script>
			$('select').selectpicker();
		</script>
	</body>
</html>