<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
  	<h1>New Posting</h1>
  	  <form id="formAddPosting" name="addposting" method="post" action="/addposting">
  	    <input type="text" placeholder="Title" name="posttitle"/>
  	    <input type="text" placeholder="Club" name="club"/>
  	    <input type="text" placeholder="email" name="email"/>
  	    <button id="btnSubmit" type="submit">submit</button>
  	  </form>
  </body>
</html>
