<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
  	<h1>New Posting</h1>
  	  <form id="formAddPosting" name="addposting" method="post" action="/addposting">
  	    <input type="text" placeholder="Title" name="title"/>
  	    <input type="text" placeholder="Club/Position" name="club"/>
  	    <input type="text" placeholder="Email" name="email"/>
  	    <input type="text", placeholder="Involvement", name="involvement"/>
        <input type="text", placeholder="Position Type", name="position_type"/>
        <input type="text", placeholder="Club Type", name="club_type"/>
        <input type="text", placeholder="Description", name="description"/>
  	    <button id="btnSubmit" type="submit">submit</button>
  	  </form>
  </body>
</html>

