<!DOCTYPE html>
<html>
<head>
    <title>Post</title>
    <% include /partials/header %>
    <link rel="stylesheet" href="/stylesheets/bootstrap-select.css">
    <script src="/javascripts/bootstrap-select.js"></script>
    <style type="text/css">
        .btn {
            text-transform: none;
            font-weight: normal;
        }
    </style>
</head>
<body>
<% include /partials/navbar %>
    <div class="container">
        <h1>Coming Soon.</h1>
    </div>
</body>
</html>
